<a href="https://colab.research.google.com/github/OtabekMamajonov/pandas/blob/main/DataFrame_malumotlar_tuzilmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
data = {
    'yil':[2022,2021,2019,2018,2017,2016,2010],
    'aholi_soni':[35.3,33.4,32.5,31.4,30.5,29.6,25.0],
    'temp':[1.9,0.9,0.9,1.1,0.9,0.9,4.6]
}

In [5]:
df = pd.DataFrame(data)
df

    yil  aholi_soni  temp
0  2022        35.3   1.9
1  2021        33.4   0.9
2  2019        32.5   0.9
3  2018        31.4   1.1
4  2017        30.5   0.9
5  2016        29.6   0.9
6  2010        25.0   4.6

In [6]:
df.head()

    yil  aholi_soni  temp
0  2022        35.3   1.9
1  2021        33.4   0.9
2  2019        32.5   0.9
3  2018        31.4   1.1
4  2017        30.5   0.9

In [7]:
df.head(4)

    yil  aholi_soni  temp
0  2022        35.3   1.9
1  2021        33.4   0.9
2  2019        32.5   0.9
3  2018        31.4   1.1

In [8]:
df.shape

(7, 3)

In [9]:
df.size

21

In [10]:
df = pd.DataFrame(data,columns=['yil','temp','aholi_soni'])
df.head()

    yil  temp  aholi_soni
0  2022   1.9        35.3
1  2021   0.9        33.4
2  2019   0.9        32.5
3  2018   1.1        31.4
4  2017   0.9        30.5

In [11]:
df = pd.DataFrame(data,columns=['yil','temp','aholi_soni','yalpi_ichki_mahsulot'])
df.head()

    yil  temp  aholi_soni yalpi_ichki_mahsulot
0  2022   1.9        35.3                  NaN
1  2021   0.9        33.4                  NaN
2  2019   0.9        32.5                  NaN
3  2018   1.1        31.4                  NaN
4  2017   0.9        30.5                  NaN

In [12]:
df = pd.DataFrame(data,columns=['yil','temp','aholi_soni','yalpi_ichki_mahsulot'],index=[22,21,19,18,17,16,10])
df.head()

     yil  temp  aholi_soni yalpi_ichki_mahsulot
22  2022   1.9        35.3                  NaN
21  2021   0.9        33.4                  NaN
19  2019   0.9        32.5                  NaN
18  2018   1.1        31.4                  NaN
17  2017   0.9        30.5                  NaN

In [13]:
df['aholi_soni']

22    35.3
21    33.4
19    32.5
18    31.4
17    30.5
16    29.6
10    25.0
Name: aholi_soni, dtype: float64

In [14]:
df.aholi_soni

22    35.3
21    33.4
19    32.5
18    31.4
17    30.5
16    29.6
10    25.0
Name: aholi_soni, dtype: float64

In [16]:
aholi=df['aholi_soni']
aholi

22    35.3
21    33.4
19    32.5
18    31.4
17    30.5
16    29.6
10    25.0
Name: aholi_soni, dtype: float64

In [17]:
type(aholi)

pandas.core.series.Series

In [19]:
df.yalpi_ichki_mahsulot=0
df

     yil  temp  aholi_soni  yalpi_ichki_mahsulot
22  2022   1.9        35.3                     0
21  2021   0.9        33.4                     0
19  2019   0.9        32.5                     0
18  2018   1.1        31.4                     0
17  2017   0.9        30.5                     0
16  2016   0.9        29.6                     0
10  2010   4.6        25.0                     0

In [20]:
val=pd.Series([1700,1650,1300],index=[22,21,10])
df.yalpi_ichki_mahsulot=val
df

     yil  temp  aholi_soni  yalpi_ichki_mahsulot
22  2022   1.9        35.3                1700.0
21  2021   0.9        33.4                1650.0
19  2019   0.9        32.5                   NaN
18  2018   1.1        31.4                   NaN
17  2017   0.9        30.5                   NaN
16  2016   0.9        29.6                   NaN
10  2010   4.6        25.0                1300.0

In [21]:
val=[1700,1650,1600,1500,1450,1400,1300]
df.yalpi_ichki_mahsulot=val

In [22]:
df

     yil  temp  aholi_soni  yalpi_ichki_mahsulot
22  2022   1.9        35.3                  1700
21  2021   0.9        33.4                  1650
19  2019   0.9        32.5                  1600
18  2018   1.1        31.4                  1500
17  2017   0.9        30.5                  1450
16  2016   0.9        29.6                  1400
10  2010   4.6        25.0                  1300

In [23]:
df['1500+']=df.yalpi_ichki_mahsulot>1500

In [24]:
df

     yil  temp  aholi_soni  yalpi_ichki_mahsulot  1500+
22  2022   1.9        35.3                  1700   True
21  2021   0.9        33.4                  1650   True
19  2019   0.9        32.5                  1600   True
18  2018   1.1        31.4                  1500  False
17  2017   0.9        30.5                  1450  False
16  2016   0.9        29.6                  1400  False
10  2010   4.6        25.0                  1300  False

In [25]:
del df['1500+']

In [26]:
df

     yil  temp  aholi_soni  yalpi_ichki_mahsulot
22  2022   1.9        35.3                  1700
21  2021   0.9        33.4                  1650
19  2019   0.9        32.5                  1600
18  2018   1.1        31.4                  1500
17  2017   0.9        30.5                  1450
16  2016   0.9        29.6                  1400
10  2010   4.6        25.0                  1300